## **Data Science Bootcamp, Fall' 23**

### Lecture 1 : **Introduction to Python**

#### Instructor: **Kartik Jindgar**

##### Oct 2023

---
---

## Primitive Datatypes

---
Python has the following primitive datatypes:

<br>

|Datatype|Description | Examples|
|-----|---------------- |------------|
| Int | Integer Numbers | 1,2,3...|
|Float| Real Numbers    | 3.14    |
|String| Text Contents | "Hello World"|
|Bool | Boolean Values| True, False|
|NoneType| Special Type | None|

<br>

Their syntax is given in the next cell

In [1]:
a = 10 
b = 3.14 
c = "Hello World"
d = True
e = None

print("a is - ",type(a) )
print("b is - ",type(b) )
print("c is - ",type(c) )
print("d is - ",type(d) )
print("e is - ",type(e) )

a is -  <class 'int'>
b is -  <class 'float'>
c is -  <class 'str'>
d is -  <class 'bool'>
e is -  <class 'NoneType'>

## Expressions and Operators

---
<br>

Expressions combine different **objects** and **operators**. An expression has a value and value has a type...

<br>

| Arithmetic | Comparison| Boolean |
|------------|-----------|---------|
|= Assignment|== Equality| not Negation|
|+ Sum| != Inequality| and Conjunction|
|- Difference| > More than| or Disjunction|
|* Product| >= More or equal | |
|/ Division| < Less than | |
|% Remainder| <= Less or equal||
|** Power ||

In [2]:
a = 10
b = a+100
print("b after addition = ", b,'\n')

rem = b%10
quotient = b//10
print("Remainder of b divided by 10 is ", rem,'\n')
print("Quotient of b divided by 10 is ", quotient,'\n')

c = rem**5
print("C : rem ^5 =",c,'\n')

b after addition =  110

Remainder of b divided by 10 is  0

Quotient of b divided by 10 is  11

C : rem ^5 = 0

In [3]:
print(b==10)
print((b-100)==10)
print(b!=10)

False
True
True

In [4]:
print(b==110 and c==10)
print(b==110 or  c==10)
print(not c==10)

False
True
True

## Control Flow : Branching, Iteration
---

Evaluate a block of code if a condition is True. 

In the following cells we will look at conditional satements(if-else) and loops(for and while).

### If-Else
Conditional statements in Python allow you to make decisions in your code based on certain conditions. The if-else statement is one of the fundamental building blocks of conditional logic in Python.


### Basic Syntax

```python
if condition:
    # Code to execute if the condition is True
else:
    # Code to execute if the condition is False
```
### Elif (Else If)
To handle multiple conditions, you can use the elif (short for "else if") keyword:

In [5]:
#if-else
r=10
area = 3.14*(r**2)

if area>500:
  print("This is a big circle")
elif area>100 and area<500:
  print("This is a mediumn circle")
else:
  print("This is a small circle")

This is a mediumn circle

### While Loop
A `while` loop repeatedly executes code while a condition remains True. Use them when the number of iterations is unknown in advance

```
while condition:
    # Code to execute while the condition is True
```

In [6]:
#while loop:

i=100
sum=0
while i>0:
  sum=sum+i  #can be written as sum+=i as well
  i=i-1
print("Sum of first 100 numbers is ",sum)

Sum of first 100 numbers is  5050

In [7]:
#Using Break Statement
sum = 0
i=100
while True:
  if i<0:
    break
  
  sum+=i
  i-=1

print("Sum of first 100 numbers is ",sum)

Sum of first 100 numbers is  5050

### For Loop
A `for` loop iterates over a sequence (e.g., lists, strings, ranges) and executes a block of code for each element.
```
for item in sequence:
    # Code to execute for each item
```

In [8]:
#for loop:
sum=0
for i in range(100):
  sum+=i
print("Sum of first 100 numbers is ",sum)

Sum of first 100 numbers is  4950

#### Practice questions:
1. Display Fibonacci Series upto 10 terms
2. Display numbers at the odd indices of a list
3. Print a list in reverse order

## Compound Data Types
1. Lists - Ordered Sequence - Mutable - Mixed element types
2. Tuples - Ordered Sequence - Immutable - Mixed element types
3. Dictionaries - key-values pairs, - keys have to be unique but values can be duplicate and of any format

In [9]:
#Lists
l = ["DataScienceBootcamp",2023] #list declaration and initiation
print(l)
l.append("Section1") #adding element to end of the list -> like a push operation
print(l) 
new_list = l+[1,2,3]  #list concatenation
print(new_list)
print(new_list[1:3]) #Slicing
new_list[3]=100
print(new_list)

['DataScienceBootcamp', 2023]
['DataScienceBootcamp', 2023, 'Section1']
['DataScienceBootcamp', 2023, 'Section1', 1, 2, 3]
[2023, 'Section1']
['DataScienceBootcamp', 2023, 'Section1', 100, 2, 3]

In [10]:
#Tuples
t = ()
t=("NYU","DataScience","bootcamp",2023)
print(t)
print(t[2])
print(t[1:3])
# t[2]=5

('NYU', 'DataScience', 'bootcamp', 2023)
bootcamp
('DataScience', 'bootcamp')

In [11]:
#Dictionaries
d={}
d['key']='value'
d['key2']=10
print(d)
print(d['key'])
print(d.get('key3'))

{'key': 'value', 'key2': 10}
value
None

## Operations on Objects
Everything in python is an object. Strings are objects, lists are objects, dictionaries are objects, arrays are objects, etc. 

And objects have functions. We use dot '.' to invoke functions. eg-

```
l = [1,23,5]
l.append(10) 
print(l)
```

In this section we will go over some common functions that will prove to be very useful in your day to day tasks.

### Operations on Strings

In [12]:
a = "This is Data Science Bootcamp"
b = "Held in Spring'"+"2023"
print(a+" "+b)

This is Data Science Bootcamp Held in Spring'2023

In [13]:
s = "12345"
print(s[0])
print(s[1:3])
print(s[-3])

1
23
3

In [14]:
#Predict the output of this code block
s[1]='5'

TypeError: 'str' object does not support item assignment

In [ ]:
list(s)

In [15]:
TestString = "I am part of the Data Science Bootcamp at NYU"
TestString.split(" ")

['I', 'am', 'part', 'of', 'the', 'Data', 'Science', 'Bootcamp', 'at', 'NYU']

In [16]:
l = TestString.split(" ")
" ".join(l)

'I am part of the Data Science Bootcamp at NYU'

### Operations on Lists

In [17]:
l =['apple','mango']
m = ['banana', 'orange']
lm = l+m
print(lm)
print(lm.append('kiwi'))
print(lm[-1])

print("----------------")

print(lm[::-1]) # Reverse Indexing
lm.append(lm[:2])
print(lm)
print("----------------")
print("2D indexing")
print(lm[-1][0])

['apple', 'mango', 'banana', 'orange']
None
kiwi
----------------
['kiwi', 'orange', 'banana', 'mango', 'apple']
['apple', 'mango', 'banana', 'orange', 'kiwi', ['apple', 'mango']]
----------------
2D indexing
apple

### Operations on Dictionaries

In [18]:
mydict = {"a":1, "b":2, "c":[3,4]}
print(mydict['a']) #accessing an element
print(len(mydict)) #number of keys in a dictionary
print(mydict.keys()) # accessing the keys of the dictionary
print(mydict.values()) #iterable over the values of the dictionary
print(mydict.items())  #iterable with (key,value) pairs

1
3
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, [3, 4]])
dict_items([('a', 1), ('b', 2), ('c', [3, 4])])

Iterating over lists, strings and dictionaries

In [19]:
mylist = [1,2,3]
for i in mylist:
  print(i)

1
2
3

In [20]:
mydict = {"a":1, "b":2, "c":[3,4]}
for i in mydict.keys():
  print(mydict[i])

1
2
[3, 4]

In [21]:
mystring = "This is a test string"
for i in mystring:
  print(i)

T
h
i
s

i
s

a

t
e
s
t

s
t
r
i
n
g

### Practice Question

In [22]:
string = """
ChatGPT has created this text to provide tips on creating interesting paragraphs. 
First, start with a clear topic sentence that introduces the main idea. 
Then, support the topic sentence with specific details, examples, and evidence.
Vary the sentence length and structure to keep the reader engaged.
Finally, end with a strong concluding sentence that summarizes the main points.
Remember, practice makes perfect!
"""
#Your task is to count the number of different words in this text

## **Functions in Python**

The general syntax for defining a function is as follows - 

```
def function_name([optional parameters]):
  """DocString"""
  <body>
  return <output>
```

In [23]:
# Function for testing if a number is even
def test_even_number(number):
  return number%2==0    # Returns true if the remainder is 0, else returns false

In [24]:
test_even_number(12)

True

## Scope of the variables
Its very important to understand the scope of variables. It can be -
1. Global scope - Variables defined outside and accessible within the functions("Visible everywhere")
2. Local scope - variable defined within the function and not accessible outside the function

In [25]:
def f(x):
  x=x**2
  print("Printing y from within the function ",y)
  return x

y = 10
print(f(y))
print(y)
print(x)

Printing y from within the function  10
100
10

NameError: name 'x' is not defined

## Classes
In Python, a class is a blueprint or a template for creating objects. It serves as a way to define the structure and behavior of objects, allowing you to model real-world entities, concepts, or data in your code. Classes encapsulate data (attributes) and the methods (functions) that operate on that data, promoting code reusability and organization.

Python classes can be defined in the following way - 


```
class ClassName:
    # Class attributes (variables)
    attribute1 = value1
    attribute2 = value2

    # Constructor method (optional)
    def __init__(self, parameter1, parameter2):
        self.parameter1 = parameter1
        self.parameter2 = parameter2

    # Other methods
    def method1(self):
        # Code for method1

    def method2(self):
        # Code for method2

```
* class: The keyword used to define a class.
* ClassName: The name of the class, following Python naming conventions.
* Attributes: Variables that store data associated with the class.
* Constructor (__init__): An optional special method used to initialize object attributes when an object of the class is created.
* Methods: Functions defined within the class to perform specific operations.
---

Example: Defining a class 'dog'


```
class dog(animal):
  speed = 40
  breed = 'Not Specified'
  domesticated = True

```

Creating an object of that class 
```
luna = dog()
print(luna.domesticated) #Accessing object variables
luna.speed=30 #Setting object variables
luna.cuteness = 'XXXL'  # Creating new object variable
```

## Take home exercises

1. Write a function that takes a word as an argument and returns the number of vowels in the word
2. Iterate through the following list of animals and print each one in all caps.

  animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']

3. Iterate from 1 to 15, printing whether the number is odd or even
4. Take two integers as input from user and return the sum

## Additional Challenge - movies data challenge

In [26]:
# List of movies dictionaries:

movies = [
{
"name": "Usual Suspects", 
"imdb": 7.0,
"category": "Thriller"
},
{
"name": "Hitman",
"imdb": 6.3,
"category": "Action"
},
{
"name": "Dark Knight",
"imdb": 9.0,
"category": "Adventure"
},
{
"name": "The Help",
"imdb": 8.0,
"category": "Drama"
},
{
"name": "The Choice",
"imdb": 6.2,
"category": "Romance"
},
{
"name": "Colonia",
"imdb": 7.4,
"category": "Romance"
},
{
"name": "Love",
"imdb": 6.0,
"category": "Romance"
},
{
"name": "Bride Wars",
"imdb": 5.4,
"category": "Romance"
},
{
"name": "AlphaJet",
"imdb": 3.2,
"category": "War"
},
{
"name": "Ringing Crime",
"imdb": 4.0,
"category": "Crime"
},
{
"name": "Joking muck",
"imdb": 7.2,
"category": "Comedy"
},
{
"name": "What is the name",
"imdb": 9.2,
"category": "Suspense"
},
{
"name": "Detective",
"imdb": 7.0,
"category": "Suspense"
},
{
"name": "Exam",
"imdb": 4.2,
"category": "Thriller"
},
{
"name": "We Two",
"imdb": 7.2,
"category": "Romance"
}
]

1. Write a function that takes a movie dictionary from the above list and return true if imdb rating is greater than 5. Additionally, you can also alter the function to return whether the movie has low, medium or high rating

2. Write a function that accepts the entire list of movies and a category and returns the average score for that category.

3. Write a function that accepts the movie list and a category and returns all the movies belonging to that category. Your function should be able to throw an error if that category does not exist